<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h2 class="title">
        質問内容編集
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">

        <%= form_with model: @comment, url: public_comment_path, method: :patch do |f| %>
          <div class="field">
            <%= f.label :comment, "コメント修正：", class: "label" %>
            <p class="control has-icons-left">
              <%= f.text_field :comment, autofocus: true, autocomplete: "comment", class: "input" %>
              <span class="icon is-small is-left">
                <i class="fa fa-edit"></i>
              </span>
            </p>
          </div>

          <div class="actions">
            <%= f.submit "変更", class: "button is-success" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</section>