<section class="hero is-primary is-medium">

    <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="is-size-1-desktop is-size-5-mobile">
        楽ま～にゅ
      </p>
      <p class="is-size-3-desktop is-size-7-mobile">
        業務マニュアルの「作成」・「共有」・「管理」を簡単に店長と従業員双方に向けた、業務習得スピードを加速させる動画コミュニティサイトです。
      </p>
    </div>
  </div>