<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h2 class="title">
        <%= @employee.name %>さんの「<%= @manual.task_name %>」への質問と返信
      </h2>
    </div>
  </div>
</section>