<% if resource.errors.any? %>
  <div id="error_explanation", class="notification is-danger">
    <h4>エラーが発生しました。<br>以下ご確認お願いいたします。</h4>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
